*{
    margin:0;
    padding: 0;
    box-sizing: border-box;   
}
#first{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:#B4CDE6;
        height: 100vh;
        max-height: 92vh;
        
    } 
.logo{
    height: 10vh;
    width: 10vh;
    margin-top: '5vh';
    border-radius: 50%;
    border: 2px solid blue;
    padding: 5px;
}
.welcomeimg{
    height: 35vh;
    width: 35vh;
}
#signup{
    padding: 1vh;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 45px; 
    margin: 3vh 0vh 3vh 0vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
#wish{
    font-weight: bolder;
}
#text{
    line-height: 1;
}
p{
    text-decoration: none;
}

