*{
    margin:0;
    padding: 0;
}
.welcome{
    background-color: lightblue;
    height: 100vh;
}

.logo{
    height: 10vh;
    width: 10vh;
    margin-top: 5vh;
    border-radius: 50%;
    border: 2px solid blue;
    padding: 3px;
}
.welcomeimg{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    margin: 3vh ;

}

#wish{
    font-weight: bolder;
}

.para{
    line-height: 1.5;
    font-style: italic ;
    
}

