@media(max-width:900px){
    #appbar{
        width: 100%;
    }
}

@media (max-width:400px){
    #appbar{
        width: 100%;
    }
}
@media(max-width: 300px){
    #appbar{
        width: 35.5rem;
    }
}


/* @media (min-width:900px) {
    #appbar{
        width: 100%;
    }
} */